p{
	color: #515151;
	font-family: "Arial", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
}


h1 {
	color: #;
	font-family: "Arial", Helvetica, Arial, sans-serif;
	font-size: 60px;
	font-weight: normal;
}

h1 a { color: #FFFFFF; text-decoration: none; }
